@import 'src/css/colors.scss';
@import 'src/css/animations.scss';

.input-typeahead {
  height: 48px;
  width: calc(100% - 32px);
  font-size: 18px;
  border: 1px solid $color-black-40;
  border-radius: 4px;
  outline: none;
  padding-left: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  margin: 16px 16px 0 16px;
  font-family: 'Inter', sans-serif;

  &:focus {
    border: 2px solid rgba(0,0,0,0.25);
  }
}
.input-with-suggestions {
  border-radius: 4px 4px 0 0;
}

.typeahead-suggestions {
  position: absolute;
  background-color: $color-white-100;
  width: calc(100% - 32px);
  border-radius: 0 0 4px 4px;
  border: 2px solid rgba(0,0,0,0.25);
  border-top: none;
  z-index: 999;
  margin-left: 16px;
  margin-top: -1px;
}

.small {
  width: calc(100% - 96px);
}

.typeahead-suggestion {
  padding: 6px;

  &__paragraph {
    margin: 6px;
  }

  &:hover {
    background-color: $color-black-20;
    cursor: pointer;
  }
}

.error {
  border: 2px solid $color-red;
  animation: shake-textfield 200ms;
}


