<app-typeahead-input-station [error]="error" *ngIf="type === 'station-search'" [small]="isSmall" [placeholder]="placeholder" [value]="stationText" (valueChange)="emitStationChange($event)"></app-typeahead-input-station>
<app-typeahead-input-datetime [error]="error" *ngIf="type === 'date-time'" [placeholder]="placeholder" [value]="dateValue" (valueChange)="emitDateChange($event)"></app-typeahead-input-datetime>
<app-typeahead-input-button *ngIf="type === 'button'" [size]="size" [color]="color" [text]="text" (on-click)="emitClick()"></app-typeahead-input-button>
<app-typeahead-input-text [error]="error" *ngIf="type === 'text'" [placeholder]="placeholder"></app-typeahead-input-text>

