.participant {
  height: 161px;
  width: 100vw;

  &__info {
    display: inline-block;
    width: calc(100vw - 64px);
  }

  .full-width {
    width: 100vw;
  }

  &__delete {
    width: 48px;
    position: absolute;
    height: 144px;
    display: inline-block;
  }

  &__delete-button {
    margin-top: 100%;
    transform: translateY(-8px);
  }

  .splitter {
    margin: 16px 0;
  }
}
