.participant {
  width: 100vw;

  &__info {
    display: inline-block;
    width: calc(100vw - 64px);
  }

  .full-width {
    width: 100vw;
  }

  &__delete {
    width: 48px;
    display: inline-block;
    transform: translateY(-70%);
  }

  &__delete-button {
  }

  .splitter {
    margin: 16px 0;
  }
}
