<div class="wrapper">
  <div class="topbar">
    <app-stepper class="stepper" [third-step]="true"></app-stepper>
    <div class="title">
      <p class="title__text">Share Trip</p>
    </div>
  </div>
  <app-trip-map></app-trip-map>
  <div class="url-to-copy">
    <div class="url-wrapper" #link (click)="copyLinkToClipboard()">
      <p class="url">{{getTripUrl()}}</p>
    </div>
    <app-typeahead-input type="button" [text]="copyText" color="secondary" [top-margin]="true" (on-click)="copyLinkToClipboard()"></app-typeahead-input>
  </div>
</div>
