@import 'src/css/colors.scss';

.input-typeahead-button {
  height: 38px;
  min-width: 36px;
  font-size: 16px;
  border: 2px solid $color-darkblue-100;
  border-radius: 4px;
  padding-left: 6px;

  &:hover {
    background-color: $color-black-10;
    cursor: pointer;
  }
}
