<div class="typeahead-container" [ngStyle]="{'margin-top': topMargin ? '32px' : '0'}">
  <button class="input-typeahead-button"
          [ngClass]="{
            'mini': size === 'mini',
            'small': size === 'small',
            'medium': size === 'medium',
            'large': size === 'large',
            'primary': color === 'primary',
            'secondary': color === 'secondary',
            'positive': color === 'positive',
            'negative': color === 'negative',
            'transparent': color === 'transparent'
          }" (click)="emitClick()">{{text}}</button>
</div>
