@import 'src/css/colors.scss';

.input-typeahead-button {
  height: 48px;
  min-width: 48px;
  font-size: 18px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  border-radius: 4px;
  padding-left: 6px;
  font-family: 'Inter', sans-serif;

  &:hover {
    cursor: pointer;
  }
}

.mini {
  width: 48px;
}

.small {
  width: 64px;
}

.medium {
  width: 128px;
}

.large {
  width: 256px
}

.primary {
  background-color: $color-white-100;
  color: $color-black-100;
  border: 1px solid $color-white-100;

  &:hover {
    background-color: $color-black-20;
    border: 1px solid $color-black-20;
  }
}

.transparent {
  background-color: transparent;
  box-shadow: none;
}

.secondary {
  background-color: $color-purple-30;
  color: $color-white-100;
  border: 1px solid $color-purple-30;

  &:hover {
    background-color: $color-purple-40;
    border: 1px solid $color-purple-40;
  }
}

.positive {
  background-color: $color-green;
  color: $color-white-100;
  border: 1px solid $color-green;

  &:hover {
    background-color: $color-green-active;
    border: 1px solid $color-green-active;
  }
}

.negative {
  background-color: $color-red;
  color: $color-white-100;
  border: 1px solid $color-red;

  &:hover {
    background-color: $color-red-active;
    border: 1px solid $color-red-active;
  }
}

.typeahead-container {
  display: flex;
  justify-content: space-around;
}
