@import 'src/css/colors.scss';

.form-container {

  &__main {
    background-color: $color-black-20;
    padding-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
    margin-bottom: 16px;
  }

  &__participants {
    background-color: $color-white-100;
  }

  &__search {
    position: absolute;
    height: 144px;
    width: 100vw;
    bottom: 0;
    background-color: $color-purple-30;

    .search-button {
      position: absolute;
      bottom: 48px;
      left: calc(50vw - 128px);
    }
  }
}

.participants {

  &__header {
    display: flex;
    padding: 0 16px 16px 16px;

    &__label {
      font-size: 22px;
      margin: 24px 0 0 calc(50% - 16px);
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }
}
