<div class="container">
  <div class="form-container">
    <div class="form-wrapper">
      <div class="form-container__main">
        <div class="form-container__destination">
          <app-typeahead-input type="station-search" placeholder="Destination" [(station-value)]="station"></app-typeahead-input>
        </div>
        <div class="form-container__arrival">
          <app-typeahead-input type="date-time" [placeholder]="datePlaceholder" [(date-value)]="arrivalDate"></app-typeahead-input>
        </div>
      </div>
      <div class="form-container__participants">
        <div class="participants">
          <div class="participants__header">
            <app-typeahead-input type="button" size="mini" text="+" color="positive" (on-click)="incrementParticipants()"></app-typeahead-input>
            <p class="participants__header__label">Participants</p>
          </div>
          <app-splitter size="small"></app-splitter>
          <div class="participants__list">
            <app-participant
              *ngFor="let participant of participants"
              [participant-id]="participant.id"
              [deletable]="participants.length > 1"
              (delete)="deleteParticipant($event)"
              [(name)]="participant.name"
              [(station-name)]="participant.departureStation"></app-participant>
          </div>
        </div>
      </div>
      <div class="form-container__search">
        <app-typeahead-input type="button" size="large" text="Search" color="primary" (on-click)="findConnections()" class="search-button"></app-typeahead-input>
      </div>
    </div>
  </div>
</div>
