<div class="container">
  <div class="form-container">
    <div class="form-wrapper">
      <div class="form-container__destination">
        <p class="form-container__label">Destination</p>
        <app-typeahead-input type="station-search" placeholder="Station"></app-typeahead-input>
      </div>
      <div class="form-container__arrival">
        <p class="form-container__label">Desired Arrival Time</p>
        <app-typeahead-input type="date-time" placeholder="Date/Time"></app-typeahead-input>
      </div>
      <div class="form-container__search">
        <app-typeahead-input-button text="Search" (on-click)="searchConnections()"></app-typeahead-input-button>
      </div>
      <div class="form-container__participants">
        <div class="participants">
          <p class="participants__label">Participants</p>
          <app-typeahead-input-button text="+" (on-click)="incrementParticipants()"></app-typeahead-input-button>
          <div class="participants__list">
            <app-participant
              *ngFor="let participant of participants"
              [participant-id]="participant.id"
              [deletable]="participants.length > 1"
              (delete)="deleteParticipant($event)"
              [(name)]="participant.name"
              [(station-name)]="participant.departureStation"></app-participant>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
