<div class="connections">
  <div class="connection-box">
    <div class="participant-title" (click)="openConnection()">
      <p class="participant-title__text">{{participant ? participant.name : ''}}</p>

    </div>
    <div class="connection-box__connection">
      <app-typeahead-input-button text="<" (on-click)="getEarlierConnection()" class="change-button" color="transparent"></app-typeahead-input-button>
      <div class="departure" (click)="openConnection()" *ngIf="!isLoading">
        <div class="departure__info">
          <p class="departure__info__paragraph">
            {{connection.connection.from.station.name}}
          </p>
          <p class="departure__info__paragraph">
            {{formatTime(connection.connection.from.departure)}}
            <span class="departure__delay">{{formatDelay(connection.connection.from.delay)}}</span>
          </p>
          <p class="departure__info__paragraph">
            {{formatPlatform(connection.connection.from.platform)}}
          </p>
        </div>
      </div>
      <div class="journey__wrapper" (click)="openConnection()" *ngIf="!isLoading">
        <div class="infos">
          <p class="time">{{formatDuration(connection.connection.duration)}}</p>
        </div>
        <div class="journey">
          <div class="journey__arrow"></div>
        </div>
      </div>
      <div class="arrival" (click)="openConnection()" *ngIf="!isLoading">
        <div class="arrival__info">
          <p class="arrival__info__paragraph">
            {{connection.connection.to.station.name}}
          </p>
          <p class="arrival__info__paragraph">
            {{formatTime(connection.connection.to.arrival)}}
            <span class="departure__delay">{{formatDelay(connection.connection.to.delay)}}</span>
          </p>
          <p class="arrival__info__paragraph">
            {{formatPlatform(connection.connection.to.platform)}}
          </p>
        </div>
      </div>
      <div class="spinner-wrapper" *ngIf="isLoading">
        <ion-spinner class="spinner"></ion-spinner>
      </div>
      <app-typeahead-input-button text=">" (on-click)="getLaterConnection()" class="change-button" color="transparent"></app-typeahead-input-button>
    </div>
  </div>
</div>
