@keyframes move-forever {
  0% {
    transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-in-from-left {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes slide-up-double  {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(200%);
  }
}

@keyframes slide-up-from-bottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake-textfield {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(3px);
  }

  20% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-3px);
  }

  40% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(3px);
  }

  60% {
    transform: translateX(0);
  }

  70% {
    transform: translateX(-3px);
  }

  80% {
    transform: translateX(0);
  }

  90% {
    transform: translateX(3px);
  }

  100% {
    transform: translateX(0);
  }
}

