$color-black-100: #000000;
$color-black-80: #333333;
$color-black-60: #5c5c5c;
$color-black-40: #858585;
$color-black-20: #adadad;
$color-black-10: #d6d6d6;

$color-white-100: #ffffff;

$color-orange-100: #f29602;
$color-orange-80: #fca311;
$color-orange-60: #fdb849;
$color-orange-40: #fec872;
$color-orange-20: #fed89a;
$color-orange-10: #fee7c2;

$color-darkblue-100: #14213d;
$color-darkblue-80: #233a6c;
$color-darkblue-60: #32539a;
$color-darkblue-40: #466ec3;
$color-darkblue-20: #7492d2;
$color-darkblue-10: #a3b6e1;



