@import 'src/css/animations';
@import 'src/css/colors';

.login {
  width: 75%;
  margin-top: 32px;

  &__title {
    text-align: center;
  }

  .no-account {
    text-align: center;
  }
}

.login-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  animation: slide-in-from-left 500ms;
}

.leave {
  animation: slide-out-to-left 500ms;
  transform: translateX(-100vw);
}

.error {
  border: none;
  color: $color-red;
  text-align: center;
}
